{% extends "base.html" %} 
{% load static %}

{% block title %}Blogs -  Horizon Reality{% endblock %} 
{% block meta_description %}Latest real estate insights and articles from Horizon Reality{% endblock %} 
{% block meta_keywords %}real estate blogs, property insights, real estate tips, real estate market{% endblock %}

{% block nav_blogs_active %}active{% endblock %}

{% block extra_css %} 
<link href="{% static 'css/blogs.css' %}" rel="stylesheet"> 
{% endblock %}

{% block body_class %}index-page{% endblock %}

{% block content %} 
<div class="breadcrumb-section">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'home' %}">
              <i class="bi bi-house-door-fill breadcrumb-home-icon"></i>Home
            </a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            Blogs
          </li>
        </ol>
      </nav>
    </div>
</div>
<div class="blog-container" id="blog-container">
  {% if page_obj.object_list %}
    {% for blog in page_obj %}
      <div class="blog-card">
        <a href="{% url 'blogs:blog_detail' blog.slug %}">
          <img src="{{ blog.image.url }}" alt="{{ blog.title }}">
        </a>
        <div class="blog-content">
          <div class="blog-date">
            <i class="bi bi-calendar-date"></i> {{ blog.created_at|date:"F d, Y" }}
          </div>
          <a href="{% url 'blogs:blog_detail' blog.slug %}">
            <h3>{{ blog.title }}</h3>
          </a>
          <p>{{ blog.description|truncatewords:20|default:"No description available." }}</p>
          <a href="{% url 'blogs:blog_detail' blog.slug %}" class="read-more">Read More <i class="bi bi-arrow-right"></i></a>
        </div>
      </div>
    {% endfor %}
  {% else %}
  <div class="no-blogs-container">
    <div class="no-blogs-message">
      No blogs available at the moment. Please check back later.
    </div>
  </div>
{% endif %}
</div>

<div id="load-more-container">
  {% if page_obj.has_next %}
    <button id="load-more">Load More</button>
  {% endif %}
  <div id="loader" style="display: none;"><span class="spinner"></span></div>
</div>
{% include "chatbot.html" %}
<script>
  const paginationData = {
    totalPages: {{ page_obj.paginator.num_pages }},
    currentPage: {{ page_obj.number }},
    hasNext: {% if page_obj.has_next %}true{% else %}false{% endif %}
  };
</script>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/blog.js' %}"></script>
<script src="{% static 'js/chatbott.js' %}"></script>
{% endblock %}